.App {
    background-color: white;

}

.App-header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(54, 55, 50);
    margin-bottom: 15px;
}

.App-header p {
    color: rgb(83, 216, 251);
}

.articles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}